.card-item {
  width: 30%;
  background-color: white;
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 6px;
  overflow: hidden;
}
.list-card {
  background-color: rgb(253, 253, 253);
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

.my-container{
  margin: 2% 5%;
}

.card-img {
  width: 100%;
  object-fit:cover;
  height: 200px;
}
