// Import page-specific CSS files here.
@import "home";
@import "list_show";

.card-item {
  background-color: rgb(255, 255, 255);
  margin: 16px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.list-card {
  background-color: rgb(253, 253, 253);
  padding: 16px;
}
