// #header {
//   position: sticky;
//   width: 100%;
//   left: 0;
//   border: 1px solid blue;
// }
.movies-list {
  overflow-y: scroll;
}
.movie-card {
  margin: 16px;
}
.movie-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
}
