// #header {
//   position: sticky;
//   width: 100%;
//   left: 0;
//   border: 1px solid blue;
// }
.movies-list {
  overflow-y: scroll;
}
.movie-card {
  margin: 16px;
}
.movie-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.movie-card-container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: fit-content;
  max-width: 100%;
}
.card-info {
  display: flex;
  justify-content: space-around;
  align-items:start;
  margin-top: 16px;
  width: 200px;
}
.card-text {
  display: block;
}
